# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
storybook-static

# Turbo
.turbo

# Tests
coverage
playwright-report
test-results
.vitest-cache

# Editor / OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.swp

# Env / secrets
.env
.env.local
.env.*.local
*.pem

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# TypeScript
*.tsbuildinfo
